In [55]:
from sklearn.model_selection import train_test_split
import pandas as pd
import json
from pandas import json_normalize
from sklearn.utils import shuffle

In [50]:
data = pd.read_json("data/redditor_personnalities_0.json")
data = data.T.reset_index()
data.head()

,index,name,created_utc,comment_karma,link_karma,comments,submissions
0,hoshikomori,hoshikomori,1533077529.0,1299,3054,"[{'body': 'Harry Potter from Ohio', 'subreddit...","[{'title': 'Ahoj, neví tady někdo o někom, kdo..."
1,amberdragonfly11,amberdragonfly11,1600784003.0,7281,1873,[{'body': 'I literally made a Shower Thoughts ...,"[{'title': '[LF] Wedding fencing, wedding wand..."
2,daju_l,daju_l,1597052141.0,1701,4330,[{'body': 'I love my family but they are those...,"[{'title': 'What is Tord's hair color?', 'subr..."
3,ESTJerk,ESTJerk,1612725289.0,1109,8,"[{'body': 'Yeah man, I was ESTJ a few weeks ag...",[]
4,1213dogs,1213dogs,1561663927.0,284,1340,[{'body': 'Chinese walls absolutely destroyed'...,[{'title': 'Stop fucking stealing my ice cream...

In [54]:
list_name = []
list_comment_karma = []
list_link_karma = []
list_type = []
list_body = []
list_subreddit = []
for i in range(len(data)):
    comments = data['comments'][i]
    submissions = data['submissions'][i]
    for j in range(len(comments)):
        list_name.append(data['name'][i])
        list_comment_karma.append(data['comment_karma'][i])
        list_link_karma.append(data['link_karma'][i])
        list_type.append('comment')
        list_body.append(comments[j]['body'])
        list_subreddit.append(comments[j]['subreddit'])
    for k in range(len(submissions)):
        
        list_name.append(data['name'][i])
        list_comment_karma.append(data['comment_karma'][i])
        list_link_karma.append(data['link_karma'][i])
        list_type.append('submission')
        list_body.append(submissions[k]['title'] + " : " + submissions[k]['body'])
        list_subreddit.append(submissions[k]['subreddit'])

print(len(list_name))
print(len(list_comment_karma))
print(len(list_link_karma))
print(len(list_type))
print(len(list_body))
print(len(list_subreddit))

5014
5014
5014
5014
5014
5014

In [17]:
list_columns = ['name', 'comment_karma', 'link_karma', 'type', 'body', 'subreddit']
df = pd.DataFrame(columns=list_columns)
df['name'] = list_name
df['comment_karma'] = list_comment_karma
df['link_karma'] = list_link_karma
df['type'] = list_type
df['body'] = list_body
df['subreddit'] = list_subreddit
df

,name,comment_karma,link_karma,type,body,subreddit
0,hoshikomori,1299,3054,comment,Harry Potter from Ohio,harrypotter
1,hoshikomori,1299,3054,comment,Twilight - Edward and Bella,AskReddit
2,hoshikomori,1299,3054,comment,Sus,offthegame
3,hoshikomori,1299,3054,comment,Slaughtered Vomit Dolls. Never again,AskReddit
4,hoshikomori,1299,3054,comment,I was always rooting for Rowley when I was a k...,AskReddit
...,...,...,...,...,...,...
5009,Bert_is_life,6,28,submission,Is it just me? : So I logged into my Ao3 accou...,AO3
5010,Bert_is_life,6,28,submission,Other solutions to binding? : I have not gotte...,ftm
5011,Bert_is_life,6,28,submission,Am I really trans? : I am in high school and I...,TransCommunity
5012,Bert_is_life,6,28,submission,I found this in my grammar book today... :,jacksepticeye
5013,Bert_is_life,6,28,submission,Credit to @Michi Mash on Twitter. (I really en...,NuxTakuSubmissions

In [18]:
with open('data/redditor_personnalities_dict__.json') as mon_fichier:
    file_y = json.load(mon_fichier)

In [19]:
df_y = pd.json_normalize(file_y).T.reset_index()
df_y.columns = ['name', 'personality']
df_y

                  name personality
0          hoshikomori        ESFP
1     amberdragonfly11        ISFP
2               daju_l        ENTP
3              ESTJerk        ESTJ
4            milaxnuts        INTJ
...                ...         ...
6197         kissiebun        INTJ
6198     durararacelty        INTP
6199       swarlypants        INFJ
6200      melnotgibson        ENTJ
6201           Evylana        ENTP

[6202 rows x 2 columns]

In [20]:
data = pd.read_json("data/redditor_info_scammer_5.json")
data = data.T.reset_index()
data.head()

,index,name,created_utc,comment_karma,link_karma,comments,submissions
0,steven3v3,steven3v3,1485753351.0,0,294,[{'body': 'we can do it through reddit instead...,[{'title': '[FS] SELLING 11-13 YEAR STEAM ACCO...
1,killmeattheend,killmeattheend,1496076825.0,97,6,[{'body': 'When I was a teen I dreamt of the d...,"[{'title': '[USA-CA] [H] Switch, Switch games,..."
2,netflixnnfood,netflixnnfood,1468133475.0,104,633,[],[{'title': 'I'm afraid of marrying my fiance' ...
3,deathiyroyalty,deathiyroyalty,1500843865.0,2,1,[{'body': 'I never realized how weird the buil...,[]
4,lauren2112,lauren2112,1488638446.0,170,35,"[{'body': 'True ', 'subreddit': 'gaming', 'cre...",[]

In [39]:
from download_data import convert_json_to_df
df2 = convert_json_to_df("data/redditor_info_scammer_5.json")
df2.to_csv('data/scammer.csv',index=False)

In [40]:
df2=pd.read_csv('data/scammer.csv')
df2

,name,comment_karma,link_karma,type,body,subreddit
0,steven3v3,0,294,comment,we can do it through reddit instead? not sure ...,SteamAccountsForSale
1,steven3v3,0,294,comment,"yes, i am still selling\nif you're interested ...",SteamAccountsForSale
2,steven3v3,0,294,comment,yes,SteamAccountsForSale
3,steven3v3,0,294,comment,"+rep to /u/komplettCSGO\n\npretty chill dude, ...",SteamAccountsForSale
4,steven3v3,0,294,comment,"if you're looking for the account link, i can ...",SteamAccountsForSale
...,...,...,...,...,...,...
44921,tonucho,11065,1251,submission,Organised pickup frustration : Has anyone been...,hockeyplayers
44922,tonucho,11065,1251,submission,"Favourite Indian spot? : Hi all, any recommend...",cambridge
44923,tonucho,11065,1251,submission,"US to U.K. nursing : Hi all, looking to see wh...",TravelNursing
44924,tonucho,11065,1251,submission,Grabowski’s in Denver Co :,Pizza
44925,tonucho,11065,1251,submission,Alambama Hockey for Harambe <3 :,hockey

In [41]:
df2.head()

,name,comment_karma,link_karma,type,body,subreddit
0,steven3v3,0,294,comment,we can do it through reddit instead? not sure ...,SteamAccountsForSale
1,steven3v3,0,294,comment,"yes, i am still selling\nif you're interested ...",SteamAccountsForSale
2,steven3v3,0,294,comment,yes,SteamAccountsForSale
3,steven3v3,0,294,comment,"+rep to /u/komplettCSGO\n\npretty chill dude, ...",SteamAccountsForSale
4,steven3v3,0,294,comment,"if you're looking for the account link, i can ...",SteamAccountsForSale

In [42]:
T=[1]*len(df2)
df2['label'] = T

In [43]:
df1=pd.read_csv('data/redditor.csv')
T1=[0]*len(df1)
df1['label'] = T1

In [59]:

df=pd.concat([df1,df2], ignore_index=True)
df = shuffle(df)
y=df['label']
del df['label']
X_train, X_test, y_train, y_test = train_test_split(df, y,stratify=y, test_size=0.33, random_state=42)

In [60]:
X_train['label'] = y_train
X_test['label'] = y_test

In [64]:

X_train.to_csv('data/train.csv',index=False)

X_test.to_csv('data/test.csv',index=False)

In [65]:
X_train.head()

,Unnamed: 0,name,comment_karma,link_karma,type,body,subreddit,label
31047,31047.0,clovehoney,1580,7,submission,Practically been awake almost 2 days straight ...,Concerta,0
84440,84440.0,leafietheleaf,1411,5340,comment,I think Japanese use wwww and Indonesians use ...,NoStupidQuestions,0
78494,78494.0,laceonajersey,6531,1921,comment,The only thing I would change about what you'v...,lgbt,0
130806,NaN,onenonly98,17,7,comment,So you took 75ug and now you wanna take 200ug?...,LSD,1
131325,NaN,0077700,416,1,comment,"Yea, I'm sure there are but you can tell by lo...",funny,1